doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Không thể tìm thấy

        link(
        href="/assets/css/style.css" 
        rel="stylesheet"
        )
    body 
    .page-404
        .container
            .content
                h1 404
                h2 Trang không tồn tại
                p Có vẻ điều mà bạn đang tìm không tồn tại!
                a.btn-home(href="/") Quay về trang chủ