extends ../layout/default.pug
include ../mixins/product-item.pug
block main 
  .section-contact
    .container
      .inner-wrap
        img(src=currentNew.avatar?currentNew.avatar:"" , alt=currentNew.name) 
        span(style="font-size:24px;font-weight:700") #{currentNew.name}
        span(style="font-size:14px") !{currentNew.content}