extends ../layouts/default.pug
block main
  .section-10
    img(style="height: 200px; width: 200px;" src="/admin/assets/images/error.png" class="inner-image")
    h2(style="margin-top: -50px;") Trang này không tồn tại!
    a(href=`/${pathAdmin}/dashboard` class="inner-back") Trở về trang tổng quan